<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content container">
    <h1>AirOne</h1>
    <p>Unforgettable trips start with AirOne. Access unique homes, experiences, and places around the world.</p>
    <a class="btn btn-normal btn-lg">Start now</a>
  </div>
</div>
